<!doctype html>
<html lang="en">
  <head>
    {{>header}}
    <title>About</title>
    <style>
      .btn{
    background-color: #42ee0e;
    color: white;
    font-weight: 544;
    border-radius: 393px;
}
      .btn2{
    background-color: #ff0404;
    padding: .375rem 1.1rem;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 40rem;
}
 h2 {
    font-family: adelle,serif;
    font-weight: 700;
    color: #394ff3;
    font-size: 32px;
    line-height: 1.2;
    margin: 0 0 25px;
    padding: 0;
}
h4 {
    font-family: adelle,serif;
    font-weight: 700;
    color: #2c3790;
    font-size: 19px;
    line-height: 1.3;
    margin: 0 0 10px;
    padding: 0;
}
 li {
    color: #c008b1;
    background: transparent;
}
    </style>
  </head>
  <body>
    <header>
    {{>navbar}}
         <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </header>
    <main>
<section class="about-us py-5 " id="about-us">
    <div class="container mt-5">
	<div class="row">
		<div class="col-md-6">
		    <h1 style="color: red;">Welcome!</h1>
		    <h2>Know More About Us</h2>
		    <hr>
		    <h2 style="color: rgb(59, 59, 187);">How We Make Everyday Decisions</h2>
        <p><h4>Every choice we make is influenced by a shared commitment to our core values.</h4></p>
        <p>As a team, we strives to create helpful healthcare content, work efficiently together and have fun while providing value to our clients and their communities.</p>
		    <p style="font-weight: 30px"><b> We have highly qualified and experienced doctors.And we have also highly advanced,quality equipments and devices  to treat and cure diseases! </b></p>
        <ul>
          <li>
            Go above and beyond, no matter what, every single time
          </li>
          <li>
            A meaningful life supports meaningful work
          </li>
          <li>
            Be impeccable with your words and your intentions
          </li>
          <li>
            Stay curious longer
          </li>
          <li>
            Always be learning
          </li>
        </ul>
		</div>
		<div class="col-md-6">
		    <img src="http://themebubble.com/demo/marketingpro/wp-content/uploads/2016/10/seo-slide.png "alt="">
		</div>
	</div>
</div>
</section>
    </main>

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    
  </body>
</html>