html {
    position: relative;
  }
  
  body {
    overflow-x: hidden;
    font-family: lato;
    background-color: #EEEEEE;
  }
  
  .textside {
    margin-left: 25px;
  }

  .inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    height: 125px;
  }
  
  .rideone {
    background-color: #6CC785;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .ridetwo {
    background-color: #9A75FE;
    padding-top: 30px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .ridethree {
    background-color: #4EBCE5;
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .fontsty {
    margin-right: -15px;
  }
  
  .fontsty h2{
    color: #6E6E6E;
    font-size: 35px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
  }
  
  .fontsty h4{
    color: #6E6E6E;
    font-size: 25px;
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
  }
  
  .content-wrapper {
    /* min-height: calc(100vh - 56px); */
    padding-top: 2rem;
    overflow-x: hidden;
    background: transparent;
  }
/* .zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; 
  width: 150px;
  height: 200px;
  margin: 0 auto;
} */

/* .zoom:hover {
  transform: scale(1.5); 



  
 
  